*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}

.inp{
  height: 40px;
  width: 500px;
  margin: auto;
}

button{
  padding: 11px;
}

span{
  cursor: pointer;
}

#main{
  height: 100%;
  width: 100%;
  position: fixed;
  font-family: "Jost Light";
  text-align: center;
  background-color: brown;
  margin-bottom: 2px;
}

.list{
  display: flex;
  margin-bottom: 2px;
  color: white;
  margin-top:10px;
  margin-bottom: 10px;
  width: 1000px;
  height: 50px;
  background-color: black;
  left: 50%;
  transform: translate(-50%);
  position: relative;
  padding-left: 12px;
}


.list span{
  position: absolute;
  right: 12px;
}

